h3 {
    text-align: center;
}

.movies {
    background: linear-gradient(to right, rgb(253, 92, 92), #7272fc, #72ff72);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: larger;
    padding: 5%;
}