h3 {
    text-decoration: underline;
    font-style: italic;
  }
  

.chores{
    color:rgb(240, 237, 255);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: larger;
    padding: 5%;

}




